/*CSS Reset*/
* {
	margin: 0;
	padding:  0;
	box-sizing: border-box;
}

#landingPage {
	background-color: rgba(0, 204, 204, 0.6);
}

body {
	background-image: url(https://i.pinimg.com/originals/9a/d7/ec/9ad7ec1ee1b2b5f7288f1b58e7f2cee6.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}


#gmap_canvas {
	height: 80vh;
	width: 100%;
}

.fa-icons {
	font-size: 2rem;
}

html {
	scroll-behavior: smooth;
}